body {
    margin: 0;
    padding: 0;
    
    background-repeat: no-repeat;
    


}

.landing__page {

    background: radial-gradient(95.32% 100.32% at 10.2% 10.91%, #AFEBE7 70%, rgba(175, 235, 231, 0) 100%);
    padding: 0;
    margin: 0;
    height: 50vh;
    width: 80vw;

}